Repository kyma-project/addons, pull requests merged in 2019-08, with the labels that each got.

#107 Fix AWS broker versions
  addons/aws-service-broker-0.0.1/chart/aws-service-broker/Chart.yaml
  addons/aws-service-broker-0.0.1/chart/aws-service-broker/templates/docs.yaml
  addons/aws-service-broker-0.0.1/chart/aws-service-broker/values.yaml
  addons/aws-service-broker-0.0.1/plans/customizable/create-instance-schema.json
  scripts/deploy_current_addons_to_minikube.sh
Labels: area/service-catalog

#109 Fix dead links
  .github/pull-request-template.md
  docs/getting-started.md
Labels: area/documentation, bug

#111 Add a note about the `testing` addon
  README.md
  addons/redis-0.0.3/README.md
Labels: area/documentation, enhancement

#115 Fix rendering for the GCP Broker addon
  addons/google-cloud-platform-service-broker-0.1.0/docs/broker/overview.md
Labels: area/documentation, area/service-catalog

#114 Use external documentation in GCP Broker instead of local one
  addons/google-cloud-platform-service-broker-0.1.0/chart/gcp-service-broker/templates/docs.yaml
  addons/google-cloud-platform-service-broker-0.1.0/chart/gcp-service-broker/values.yaml
  addons/google-cloud-platform-service-broker-0.1.0/docs/google-bigquery/examples.md
  addons/google-cloud-platform-service-broker-0.1.0/docs/google-bigquery/overview.md
  addons/google-cloud-platform-service-broker-0.1.0/docs/google-bigquery/plans-details.md
  addons/google-cloud-platform-service-broker-0.1.0/docs/google-bigtable/examples.md
  addons/google-cloud-platform-service-broker-0.1.0/docs/google-bigtable/overview.md
  addons/google-cloud-platform-service-broker-0.1.0/docs/google-bigtable/plans-details.md
  addons/google-cloud-platform-service-broker-0.1.0/docs/google-cloud-storage/examples.md
  addons/google-cloud-platform-service-broker-0.1.0/docs/google-cloud-storage/overview.md
  addons/google-cloud-platform-service-broker-0.1.0/docs/google-cloud-storage/plans-details.md
  addons/google-cloud-platform-service-broker-0.1.0/docs/google-cloudsql-mysql/examples.md
  addons/google-cloud-platform-service-broker-0.1.0/docs/google-cloudsql-mysql/overview.md
  addons/google-cloud-platform-service-broker-0.1.0/docs/google-cloudsql-mysql/plans-details.md
  addons/google-cloud-platform-service-broker-0.1.0/docs/google-cloudsql-postgres/examples.md
  addons/google-cloud-platform-service-broker-0.1.0/docs/google-cloudsql-postgres/overview.md
  addons/google-cloud-platform-service-broker-0.1.0/docs/google-cloudsql-postgres/plans-details.md
  addons/google-cloud-platform-service-broker-0.1.0/docs/google-dataflow/examples.md
  addons/google-cloud-platform-service-broker-0.1.0/docs/google-dataflow/overview.md
  addons/google-cloud-platform-service-broker-0.1.0/docs/google-dataflow/plans-details.md
  addons/google-cloud-platform-service-broker-0.1.0/docs/google-datastore/examples.md
  addons/google-cloud-platform-service-broker-0.1.0/docs/google-datastore/overview.md
  addons/google-cloud-platform-service-broker-0.1.0/docs/google-datastore/plans-details.md
  addons/google-cloud-platform-service-broker-0.1.0/docs/google-dialogflow/examples.md
  addons/google-cloud-platform-service-broker-0.1.0/docs/google-dialogflow/overview.md
  addons/google-cloud-platform-service-broker-0.1.0/docs/google-dialogflow/plans-details.md
  addons/google-cloud-platform-service-broker-0.1.0/docs/google-firestore/examples.md
  addons/google-cloud-platform-service-broker-0.1.0/docs/google-firestore/overview.md
  addons/google-cloud-platform-service-broker-0.1.0/docs/google-firestore/plans-details.md
  addons/google-cloud-platform-service-broker-0.1.0/docs/google-machine-learning-api/examples.md
  addons/google-cloud-platform-service-broker-0.1.0/docs/google-machine-learning-api/overview.md
  addons/google-cloud-platform-service-broker-0.1.0/docs/google-machine-learning-api/plans-details.md
  addons/google-cloud-platform-service-broker-0.1.0/docs/google-memorystore-redis/examples.md
  addons/google-cloud-platform-service-broker-0.1.0/docs/google-memorystore-redis/overview.md
  addons/google-cloud-platform-service-broker-0.1.0/docs/google-memorystore-redis/plans-details.md
  addons/google-cloud-platform-service-broker-0.1.0/docs/google-pubsub/examples.md
  addons/google-cloud-platform-service-broker-0.1.0/docs/google-pubsub/overview.md
  addons/google-cloud-platform-service-broker-0.1.0/docs/google-pubsub/plans-details.md
  addons/google-cloud-platform-service-broker-0.1.0/docs/google-spanner/examples.md
  addons/google-cloud-platform-service-broker-0.1.0/docs/google-spanner/overview.md
  addons/google-cloud-platform-service-broker-0.1.0/docs/google-spanner/plans-details.md
  addons/google-cloud-platform-service-broker-0.1.0/docs/stackdriver-debugger/examples.md
  addons/google-cloud-platform-service-broker-0.1.0/docs/stackdriver-debugger/overview.md
  addons/google-cloud-platform-service-broker-0.1.0/docs/stackdriver-debugger/plans-details.md
  addons/google-cloud-platform-service-broker-0.1.0/docs/stackdriver-monitoring/examples.md
  addons/google-cloud-platform-service-broker-0.1.0/docs/stackdriver-monitoring/overview.md
  addons/google-cloud-platform-service-broker-0.1.0/docs/stackdriver-monitoring/plans-details.md
  addons/google-cloud-platform-service-broker-0.1.0/docs/stackdriver-profiler/examples.md
  addons/google-cloud-platform-service-broker-0.1.0/docs/stackdriver-profiler/overview.md
  addons/google-cloud-platform-service-broker-0.1.0/docs/stackdriver-profiler/plans-details.md
  addons/google-cloud-platform-service-broker-0.1.0/docs/stackdriver-trace/examples.md
  addons/google-cloud-platform-service-broker-0.1.0/docs/stackdriver-trace/overview.md
  addons/google-cloud-platform-service-broker-0.1.0/docs/stackdriver-trace/plans-details.md
Labels: area/service-catalog, enhancement
