Repository kyma-project/addons, pull requests merged in 2019-01, with the labels that each got.

#43 Add config file for milv bot
  milv.config.yaml
Labels: area/ci

#46 Create testing bundle (#23)
  bundles/index-testing.yaml
  bundles/testing-0.0.1/README.md
  bundles/testing-0.0.1/chart/testing/.helmignore
  bundles/testing-0.0.1/chart/testing/Chart.yaml
  bundles/testing-0.0.1/chart/testing/templates/_helpers.tpl
  bundles/testing-0.0.1/chart/testing/templates/cm.yaml
  bundles/testing-0.0.1/chart/testing/templates/deploy.yaml
  bundles/testing-0.0.1/chart/testing/values.yaml
  bundles/testing-0.0.1/meta.yaml
  bundles/testing-0.0.1/plans/full/bind-instance-schema.json
  bundles/testing-0.0.1/plans/full/bind.yaml
  bundles/testing-0.0.1/plans/full/create-instance-schema.json
  bundles/testing-0.0.1/plans/full/meta.yaml
  bundles/testing-0.0.1/plans/full/update-instance-schema.json
  bundles/testing-0.0.1/plans/full/values.yaml
  bundles/testing-0.0.1/plans/minimal/meta.yaml
  bundles/testing-0.0.1/plans/minimal/values.yaml
Labels: area/documentation, area/service-catalog, enhancement

#54 Azure broker
  bundles/azure-service-broker-0.0.1/README.md
  bundles/azure-service-broker-0.0.1/chart/azure-service-broker/.helmignore
  bundles/azure-service-broker-0.0.1/chart/azure-service-broker/Chart.yaml
  bundles/azure-service-broker-0.0.1/chart/azure-service-broker/charts/redis/.helmignore
  bundles/azure-service-broker-0.0.1/chart/azure-service-broker/charts/redis/Chart.yaml
  bundles/azure-service-broker-0.0.1/chart/azure-service-broker/charts/redis/README.md
  bundles/azure-service-broker-0.0.1/chart/azure-service-broker/charts/redis/templates/_helpers.tpl
  bundles/azure-service-broker-0.0.1/chart/azure-service-broker/charts/redis/templates/configmap.yaml
  bundles/azure-service-broker-0.0.1/chart/azure-service-broker/charts/redis/templates/health-configmap.yaml
  bundles/azure-service-broker-0.0.1/chart/azure-service-broker/charts/redis/templates/metrics-deployment.yaml
  bundles/azure-service-broker-0.0.1/chart/azure-service-broker/charts/redis/templates/metrics-prometheus.yaml
  bundles/azure-service-broker-0.0.1/chart/azure-service-broker/charts/redis/templates/metrics-svc.yaml
  bundles/azure-service-broker-0.0.1/chart/azure-service-broker/charts/redis/templates/networkpolicy.yaml
  bundles/azure-service-broker-0.0.1/chart/azure-service-broker/charts/redis/templates/redis-master-statefulset.yaml
  bundles/azure-service-broker-0.0.1/chart/azure-service-broker/charts/redis/templates/redis-master-svc.yaml
  bundles/azure-service-broker-0.0.1/chart/azure-service-broker/charts/redis/templates/redis-role.yaml
  bundles/azure-service-broker-0.0.1/chart/azure-service-broker/charts/redis/templates/redis-rolebinding.yaml
  bundles/azure-service-broker-0.0.1/chart/azure-service-broker/charts/redis/templates/redis-serviceaccount.yaml
  bundles/azure-service-broker-0.0.1/chart/azure-service-broker/charts/redis/templates/redis-slave-deployment.yaml
  bundles/azure-service-broker-0.0.1/chart/azure-service-broker/charts/redis/templates/redis-slave-svc.yaml
  bundles/azure-service-broker-0.0.1/chart/azure-service-broker/charts/redis/templates/secret.yaml
  bundles/azure-service-broker-0.0.1/chart/azure-service-broker/charts/redis/values.yaml
  bundles/azure-service-broker-0.0.1/chart/azure-service-broker/templates/_helpers.tpl
  bundles/azure-service-broker-0.0.1/chart/azure-service-broker/templates/auth-secret.yaml
  bundles/azure-service-broker-0.0.1/chart/azure-service-broker/templates/deployment.yaml
  bundles/azure-service-broker-0.0.1/chart/azure-service-broker/templates/post-install-job.yaml
  bundles/azure-service-broker-0.0.1/chart/azure-service-broker/templates/pre-delete-job.yaml
  bundles/azure-service-broker-0.0.1/chart/azure-service-broker/templates/role-binding.yaml
  bundles/azure-service-broker-0.0.1/chart/azure-service-broker/templates/role.yaml
  bundles/azure-service-broker-0.0.1/chart/azure-service-broker/templates/sa.yaml
  bundles/azure-service-broker-0.0.1/chart/azure-service-broker/templates/service-broker.yaml
  bundles/azure-service-broker-0.0.1/chart/azure-service-broker/templates/service.yaml
  bundles/azure-service-broker-0.0.1/chart/azure-service-broker/values.yaml
  bundles/azure-service-broker-0.0.1/meta.yaml
  bundles/azure-service-broker-0.0.1/plans/default/create-instance-schema.json
  bundles/azure-service-broker-0.0.1/plans/default/meta.yaml
  bundles/gcp-service-broker-0.0.2/README.md
  bundles/index.yaml
Labels: area/service-catalog, enhancement

#58 Add provisionOnlyOnce flag for broker bundles, remove quickly extend section
  README.md
  bundles/azure-service-broker-0.0.1/meta.yaml
  bundles/gcp-service-broker-0.0.2/meta.yaml
Labels: area/service-catalog, enhancement
